<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div align = "center">
  <%= will_paginate %>
</div>

<h1>Articles</h1>
  <table>
    <tbody>
      <%= render 'article', obj: @articles %>
    </tbody>
  </table>
<br>

<div align = "center">
  <%= will_paginate %>
</div>
