<p id="notice"><%= notice %></p>




<h1>Edit Article</h1>

<% if @article.errors.any? %>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

  <%= form_for @article do |f| %>
    <p>
      <%= f.label :title %></br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description %></br>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>



<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>


<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
