<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
          <ul>
            <li><%= link_to gravatar_for(user), user_path(user) %></li>
            <li class="article-title"><%= link_to user.username, user_path(user) %></li>
            <li><%= pluralize(user.articles.count, "article") if user.articles %></li>
            <!-- <td><%= user.username %></td>
            <td><%= user.email %></td> -->
            <!-- <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </ul>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', signup_path %>
